
body    { font-family: tahoma, verdana, arial, helvetica; font-size: 14px }
td	{ font-family: tahoma, verdana, arial, helvetica; font-size: 12px }
a	{ text-decoration: none; color: #404060; font-weight: bold }
a.bar	{ text-decoration: none; color: #A0A0B0 }
p	{ margin-left: 0.5in; margin-right: 0.25in; text-align: justify }
p.center{ text-align: center }
p.head  { border-style: solid; border-width: 1px; padding-left: 4px;
          padding-bottom: 2px; text-align: center; font-size: 14px }
pre	{ margin-left: 0.5in; margin-right: 0.25in }
.title	{ text-align: center; font-size:42px; font-family: Impact; margin-top: 0.25in }
.intro	{ margin-top: 0; margin-bottom: 0.1in; text-align: center; font-size:24px; font-weight: bold; color: #406040 }
ul	{ margin-left: 0.75in; margin-right: 0.5in; text-align: justify }
ul.sub	{ margin-left: 0.1in; margin-top: 0.1in; list-style: square }
ul.dlist{ list-style: url(tick.png) }
ul.news { list-style: circle }
h2	{ font-size: 24px; font-family: Tahoma; padding-left:0.1in; 
          border-bottom: black 2px solid; margin-top: 0.25in }
.shot   { float: right; margin-left: 0.2in; }
